body {
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
header {
    margin: 2rem auto;
    max-width: 1320px;
}
main {
    width: 100%;
}
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-bottom: 1rem;
}
.col {
    margin: auto;   
    padding: 2rem; 
}
.col2{
    padding: 0 6rem 0 2rem;
}
.btn {
    background-color: white;
    padding: 0.5rem 3rem;
    border-radius: 30px;
    margin-top: 1rem;
    color: hsl(257, 40%, 49%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover {
    background-color: hsl(300, 69%, 71%);
}
.circle {
    border: solid 1px;
    padding: 0.5rem;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    width: 20px;
      height: 20px;
      margin: 0 0.4rem;
  }

  a {
    color: white;
  }
  a:hover{
    color: hsl(300, 69%, 71%);
  }
  footer {
    
    max-width: 1320px;
    display: flex;
    justify-content: right;
  }

  .mainpic {
    max-width: 100%;
  }

  @media only screen and (max-width: 600px) {
    body {
        background-image: url(./images/bg-mobile.svg);
        background-size: contain;
    }
    .col {
        margin: 2rem auto;
        text-align: center;
    }
    
    .col2 {
        padding: 2rem;
    }
    footer {
        justify-content: center;
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
  }